@page "/"
@* @using ImageMagick *@
@layout MainLayout

@* Enable interactivity on the page so that it isn't just statically rendered.
The Interactive Server render mode enables the component to handle UI events from the server

Doesn't work with cascading parameters
*@
@* @rendermode InteractiveServer  *@

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row py-5">
        <div class="col d-flex justify-content-end">
            <Icon Name="IconName.Book" Size="IconSize.x1" Color="IconColor.Info" />
        </div>
        <div class="col">
            <h2 class="text-warning mt-2">Learn</h2>
        </div>
    </div>

    <div class="row py-5">
        <div class="col">
            <section>
                <h3>Fundamentals</h3>
                <pre>
This is a place to learn about the first things
that will help you get started on the right foot
                </pre>
                <ul>
                    <li>Kit configuration</li>
                    <li>Drum sticks</li>
                    <li>Basic techniques</li>
                </ul>
            </section>
        </div>
        <div class="col">
        </div>
        <div class="col ">
            <section>
                <h3>Techniques</h3>
                <pre>
Get a grip on drumming techniques whick are gauranteed
to evolve your drumming skills to the next level such as...
                </pre>
                <ul>
                    <li>Playing from the wrists</li>
                    <li>Rebounding double strokes</li>
                    <li>Singles to doubles exercise</li>
                </ul>
            </section>
        </div>
    </div>

    <div class="row py-5">
        <div class="col">
        </div>
        <div class="col">
            <section>
                <h3>Inspiration</h3>
                <pre>
Be inspired by a showcase of some of the best drummers
doing what they do best
                </pre>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    @* <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div> *@
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            @* <img src="@imageD" class="d-block w-100 border rounded " alt="Danny Carey drummer image"> *@
                            <img src="images/danny_carey.jpg" class="d-block w-100 border rounded " alt="Danny Carey drummer image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Danny Carey</h5>
                                @*  <p>Some representative placeholder content for the first slide.</p> *@
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/matt_garstka.jpg" class="d-block w-100 border rounded" alt="Matt Garstka drummer image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Matt Garstka</h5>
                                @* <p>Some representative placeholder content for the second slide.</p> *@
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
        </div>
        <div class="col">
        </div>
    </div>
</div>

@code
{
    // Define the parameter to hold data passed to the layout
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    //private MagickImage imageD;
    //private MagickImage imageM;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        string description = @"Welcome to Drummers Journey!

This is a simple app to help you leran more about
drumming and ask other drummers questions
to help you grow on your drumming journey";

        Layout.updateLayout("Home", description);

        // try
        // {
        //     // Initialize MagickImage with the image path or data
        //     var imageD = new MagickImage("wwwroot/images/92.jpg");
        //     var imageM = new MagickImage("wwwroot/images/matts.jpg");

        //     // Manipulate the image as needed
        //     imageD.Resize(300, 200); // Resize to specific dimensions
        //     imageM.Resize(300, 200); // Resize to specific dimensions

        //     imageD.Write("wwwroot/images/92r.jpg");
        //     imageM.Write("wwwroot/images/mattsr.jpg");

        // }
        // catch (Exception ex)
        // {
        //     Console.WriteLine(ex.Message);
        // }

    }

}