@inherits LayoutComponentBase

@* page is 100% vh*@
<div class="page">
    <div class="navigation">
        <NavMenu />
    </div>

    @* cascading values allow passing data from child pages to this parent layout *@
    <CascadingValue Value="this">
        @* center body content middle of page *@
        <main class="flex-growing bg-dark text-white">
            <article class="flex-growing flex-column container-fluid">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center primary-theme-color py-5">@_Title</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="px-5 text-center ">@_Description</p>
                    </div>
                </div>
                
                <div class="flex-growing justify-content-center align-items-center">
                    @Body
                </div>
            </article>
        </main>
    </CascadingValue>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    public string _Title { get; set; }
    public string _Description { get; set; }

    public void updateLayout(string title, string description)
    {
        _Title = title;
        _Description = description;
        StateHasChanged();
    }
}