@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex gap-3" href="/">
            <i class="bi bi-8-circle-fill" style="font-size: 2rem; color: aqua;"></i>
            <pre>@_Brand</pre>
        </a>
    </div>
</div>

<!-- to use as nav button toggler on small screens -->
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable">

    <ul class="nav nav-tabs d-flex gap-sm-5">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" ref="#" role="button" aria-expanded="false">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Learn
            </a>
            <ul class="dropdown-menu bg-secondary">
                <li><a class="dropdown-item nav-item text-white" href="#">Fundamentals</a></li>
                <li><a class="dropdown-item nav-item text-white" href="technique">Techniques</a></li>
            </ul>
        </li>

        <li class="nav-item ">
            <NavLink class="nav-link" href="kit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kit
            </NavLink>
        </li>

        <li class="nav-item ">
            <NavLink class="nav-link" href="ask">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ask
            </NavLink>
        </li>
    </ul>
</div>

@code {
    string _Brand = "Drummers\nJourney";

    // bool isDisplayed = true;
    // string displayStyle => isDisplayed ? "display: block !important;" : "display: none !important;";

    // private void OnClick(MouseEventArgs e)
    // {
    //     isDisplayed = !isDisplayed;
    // }
}
