@rendermode InteractiveServer

<h3>Count</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="dropdown px-3">
    @* <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" ref="#" role="button" aria-expanded="false">
    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Learn
    </a> *@
    <button type="button" data-bs-toggle="dropdown" ref="#" aria-expanded="false">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Learn
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">te</a></li>
        <li><a class="dropdown-item" href="#">test</a></li>
        <li><a class="dropdown-item" href="#">tes</a></li>
    </ul>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
